DATABASE_URL="postgresql://postgres:password@localhost:5432/mydb?schema=public"
DIRECT_URL="postgresql://postgres:password@localhost:5432/mydb?schema=public"
FRONTEND_URL="http://localhost:5173,https://your-frontend-domain.vercel.app"
NODE_ENV="development"
PORT=5002
